.modalbtn{
    background-color: blueviolet;
    color: white;
    width: 150px;
    font-weight: bold;
    font-size: 13px;
    height: 35px;
}
.modalbtn:hover{
    background-color: rgb(162, 95, 221);
}


.lrnmorbtn{
    background-color: blueviolet;
    color: white;
    width: 170px;
    font-weight: bold;
    font-size: 15px;
    height: 60px;
    border-radius: 30px;
    border: blueviolet 2px solid;
}

.lrnmorbtn:hover{
    background-color: white;
    color: blueviolet;
}

#our{
    
    color: blueviolet;
    text-align: center;
}
#course{
    color:  rgb(146, 102, 186);;
}

.ispan {
    color: black;
    font-size: 12px;
    text-align: start;
    font-weight: 700;
}
.icolor{
    color: red;
}

#vm{
    color: blueviolet;
    text-decoration: underline;
}